/* ===========================
   СБРОС СТИЛЕЙ
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#F5F0E6;

    color:#45423E;

    font-family:'Onest',sans-serif;

}

/* ===========================
   КОНТЕЙНЕР
=========================== */

.container{

    width:1320px;

    margin:0 auto;

}

/* ===========================
   ПРОВЕРКА ШРИФТОВ
=========================== */

h1{

    font-family:'Montserrat Alternates',sans-serif;

    font-size:96px;

    font-weight:800;

    color:#314241;

}

p{

    margin-top:20px;

    font-size:24px;

    line-height:150%;

    font-weight:400;

}
